<footer class="site-footer">
  <div class="logo">
  <img src="/images/logo.png" class="h1">
  <p>Contact Us</p>
  <p>petrescue@example.com | Phone: (123) 456-7890</p>
  <p>Location</p>
  <p>123 Rescue Lane, Happy Tails City, PA 12345</p>
  </div>
  <p>© {% year %} Paige Cornell. All rights reserved.</p>
</footer>