<footer class="site-footer">
  <div class="logo">
  <img src="https://res.cloudinary.com/dd9kfhxch/image/upload/v1734046900/logo_dxtisd.png" width="400" height="400" class="h1" alt="Logo">
  <p>Contact Us</p>
  <p>petrescue@example.com | Phone: (123) 456-7890</p>
  <p>Location</p>
  <p>123 Rescue Lane, Happy Tails City, PA 12345</p>
  <p>© {% year %} Paige Cornell. All rights reserved.</p>
  </div>
</footer>