<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <!-- <div class="logo">

      </div> -->
      <nav class="grid-group">
        <div class="logo">
        <h1>🐶🐱</h1>
        </div>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">More Information</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>