<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <!-- <div class="logo">

      </div> -->
      <nav class="grid-group">
        <div class="logo">
        <h1>🐶🐱</h1>
        </div>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">More Information</a>
            <head>
<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
<style>
h1 {
font-family: 'Fredoka One';font-size: 22px;
}
</style>
</head>

<head>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<style>
body {
font-family: 'Comfortaa';font-size: 18px;
}
</style>
</head>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>