---
title: "Front Page"
layout: 'base.njk'
---





<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Happy Tails Pet Rescue</h1>
      <p>The Need for Pet Rescue in the US</p>
      <p>Pet rescues play an important role in reducing the number of homeless animals by providing them with medical care, shelter, and the opportunity to find forever homes. They also work to educate communities about responsible pet ownership, spaying and neutering, and the importance of adopting rather than buying pets. Rescue organizations are often volunteer-based and rely heavily on donations and community support to cover the costs of veterinary care, food, and other essentials.</p>
      <p>There is also an increasing need to rescue animals from abuse, neglect, and abandonment. The demand for rescue services is further compounded by natural disasters and economic hardships, which can lead to a surge in pet surrenders.</p>
      <p>Supporting pet rescues through donations, volunteering, fostering, or adopting can make a significant difference in reducing the number of homeless animals and providing them with a better quality of life.</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured Items</a>
        <a href="./portfolio" class="btn btn--neutral">Link to Portfolio Page</a>
      </div>
    </div>
    <div>
      <img src="https://placehold.co/600x400" alt="Rover dinnertime aquatic biscuit stay tabby" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured Items</h2>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>