---

title: "Happy Tails Pet Rescue"
layout: 'base.njk'
---
<img src="images/joe-caione-qO-PIF84Vxg-unsplash(1).jpg/" alt text="Dog Running" width="800" height="600" class="img.one"> 

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Happy Tails Pet Rescue</h1>
      <p>The Need for Pet Rescue in the US</p>
      <p>Pet rescues play an important role in reducing the number of homeless animals by providing them with medical care, shelter, and the opportunity to find forever homes. They also work to educate communities about responsible pet ownership, spaying and neutering, and the importance of adopting rather than buying pets. Rescue organizations are often volunteer-based and rely heavily on donations and community support to cover the costs of veterinary care, food, and other essentials.</p>
      <p>There is also an increasing need to rescue animals from abuse, neglect, and abandonment. The demand for rescue services is further compounded by natural disasters and economic hardships, which can lead to a surge in pet surrenders.</p>
      <p>Supporting pet rescues through donations, volunteering, fostering, or adopting can make a significant difference in reducing the number of homeless animals and providing them with a better quality of life.</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Requested Supplies</a>


        <a href="./portfolio" class="btn btn--neutral">More Information</a>
      </div>
    </div>
    <div>

    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center">Requested Supplies</h2>
    <p>We are always in need of supplies to help us take care of our furry friends. Below are some items we currently need:</p>
    <p>Pet Food (Dry and Wet)</p>
    <p>Cat Litter</p>
    <p>Blankets and Towels</p>
    <p>Leashes and Collars</p>
    <p>Toys for Dogs and Cats</p>
    <p>Treats</p>
    <p>Any donation would be greatly appreciated!</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>